<h2> Name: <%= @contact.full_name %></h2>
<h4> Bio: <%= @contact.bio %></h4>
<h5> Email: <%= @contact.email %></h5>
<h5> Phone number: <%= @contact.phone_number %></h5>
<h5> Middle name: <%= @contact.middle_name %></h5>

<a href="/contacts">Back to all contacts</a>